<div class="container">
  <mat-button-toggle [routerLink]="['/create-product', shopId]"
                      class="margin-bottom margin-right"
                     value="underline">
    Create new order
  </mat-button-toggle>
  <mat-button-toggle [routerLink]="['/shops-order', shopId]"
                     class="margin-bottom margin-right"
                     value="underline">
    Orders
  </mat-button-toggle>
  <div class="row">
    <div class="col-4 margin-bottom"
         *ngFor="let product of products">
      <mat-card class="mat-card docs-component-category-list-card">
        <mat-card-title class="mat-card-title">{{product.name}}</mat-card-title>
        <mat-card-content class="mat-card-content docs-component-category-list-card-summary">
          Brand: {{product.brand}},
          Price: {{product.price}},
          Sku: {{product.sku}}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
