<div class="container">
  <h3>{{title}}</h3>
  <div class="row" [formGroup]="formRows.formGroup">
    <div class="col-6" *ngFor="let field of fields">
      <ng-container *ngIf="field.type !== 'file'">
        <mat-form-field class="example-full-width">
          <mat-label>{{field.title}}</mat-label>
          <input matInput type="email"
                 [type]="field.type"
                 [formControlName]="field.name">
          <mat-hint class="error">
            {{getErrors(formRows, field)}}
          </mat-hint>
        </mat-form-field>
      </ng-container>
      <ng-container *ngIf="field.type === 'file'">
        <div class="form-group margin-top">
          <div><label for="file">Choose Image</label></div>
          <input [type]="field.type"
                 (change)="imageUpload($event)"
                 id="file">
        </div>
      </ng-container>
    </div>
  </div>
</div>

