<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="product-item">
        <mat-card class="mat-card" fxlayout="column"
                  style="flex-direction: column; box-sizing: border-box; display: flex;">
          <div class="product-img"><a class="product-link"
                                      href="#"><img
            alt="" src="http://mylamarena.com/sophia-ecommerce/assets/images/product/small/headphone1/headphone1.png"></a></div>
          <div class="product-info-wrapper"><span  class="category">Headphones</span>
            <div class="title-wrap"><h4>ONTEC E Headset</h4></div>
            <div class="stars">
              <mat-icon
                class="mat-icon-xs mat-icon material-icons ng-star-inserted notranslate mat-icon-no-color"
                role="img" aria-hidden="true">star_rate
              </mat-icon>
              <mat-icon
                class="mat-icon-xs mat-icon material-icons ng-star-inserted notranslate mat-icon-no-color"
                role="img" aria-hidden="true">star_rate
              </mat-icon>
              <mat-icon
                class="mat-icon-xs mat-icon material-icons ng-star-inserted notranslate mat-icon-no-color"
                role="img" aria-hidden="true">star_rate
              </mat-icon>
              <mat-icon
                class="mat-icon-xs mat-icon material-icons ng-star-inserted notranslate mat-icon-no-color"
                role="img" aria-hidden="true">star_rate
              </mat-icon>
              <mat-icon
                class="mat-icon-xs mat-icon material-icons ng-star-inserted notranslate mat-icon-no-color"
                role="img" aria-hidden="true">star_rate
              </mat-icon>
            </div>
            <div class="price-wrap" fxlayout="row" fxlayoutalign="space-between center"
                 style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center space-between; align-items: center;">
              <p>$175.00</p><a>
              <mat-icon class="mat-icon-lg mat-icon material-icons notranslate mat-icon-no-color"
                        role="img" aria-hidden="true">shopping_cart
              </mat-icon>
            </a></div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
