<div class="container">
  <div class="row">
    <div class="col-3 margin-bottom" *ngFor="let product of products">
      <div class="product-item">
        <mat-card class="mat-card" fxlayout="column"
                  style="flex-direction: column; box-sizing: border-box; display: flex;">
          <div class="product-img"><a class="product-link"
                                      href="#"><img
            alt="" [src]="hostUrl + product.image"></a></div>
          <div class="product-info-wrapper"><span class="category">Sku {{product.sku}}</span>
            <span class="category">Brand {{product.brand}}</span>
            <div class="title-wrap"><h4>{{product.name}}</h4></div>
            <div class="stars">
              <mat-icon
                class="mat-icon-xs mat-icon material-icons ng-star-inserted notranslate mat-icon-no-color"
                role="img" aria-hidden="true">star_rate
              </mat-icon>
              <mat-icon
                class="mat-icon-xs mat-icon material-icons ng-star-inserted notranslate mat-icon-no-color"
                role="img" aria-hidden="true">star_rate
              </mat-icon>
              <mat-icon
                class="mat-icon-xs mat-icon material-icons ng-star-inserted notranslate mat-icon-no-color"
                role="img" aria-hidden="true">star_rate
              </mat-icon>
              <mat-icon
                class="mat-icon-xs mat-icon material-icons ng-star-inserted notranslate mat-icon-no-color"
                role="img" aria-hidden="true">star_rate
              </mat-icon>
              <mat-icon
                class="mat-icon-xs mat-icon material-icons ng-star-inserted notranslate mat-icon-no-color"
                role="img" aria-hidden="true">star_rate
              </mat-icon>
            </div>
            <app-add-to-cart
              [productPrice]="product.price"
              [productId]="product.id"
            ></app-add-to-cart>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
