<div class="container">
  <div class="cart-wrapper sec-padding">
    <mat-card class="p-0 mat-card ng-star-inserted">
      <div class="mat-table cart-table">
        <div class="mat-header-row">
          <div class="mat-header-cell">Product</div>
          <div class="mat-header-cell">Name</div>
          <div class="mat-header-cell">Price</div>
          <div class="mat-header-cell">Quantity</div>
          <div class="mat-header-cell">Total</div>
          <div class="mat-header-cell">Action</div>
        </div>
        <div class="mat-row ng-star-inserted">
          <div class="mat-cell">
            <img src="">
          </div>
          <div class="mat-cell">
            <a class="product-name">Headset Perro</a>
          </div>
          <div class="mat-cell price">88.00</div>
          <div class="mat-cell text-muted">
            <div class="text-muted" style="flex-direction: row; box-sizing: border-box; display: flex;">
              <div style="flex-direction: row;
                 box-sizing: border-box;
                  display: flex;
                   place-content: flex-start center;
                   align-items: flex-start;">
                <button
                  class="mat-icon-button mat-button-base"><span class="mat-button-wrapper"><mat-icon
                  class="mat-icon material-icons mat-icon-no-color" role="img"
                  aria-hidden="true">remove</mat-icon></span>
                  <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
                  <div class="mat-button-focus-overlay"></div>
                </button>
                <input class="form-control input-number ng-untouched ng-pristine"
                       name="quantity" type="text">
                <button
                  class="mat-icon-button mat-button-base"><span class="mat-button-wrapper"><mat-icon
                  class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
                  aria-hidden="true">add</mat-icon></span>
                  <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
                  <div class="mat-button-focus-overlay"></div>
                </button>
              </div>
            </div>
          </div>
          <div class="mat-cell total">264.00</div>
          <div class="mat-cell text-center">
            <div class="p-1">
              <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
                        aria-hidden="true">close
              </mat-icon>
            </div>
          </div>
        </div>
        <div class="mat-row">
          <div class="mat-cell">
            <a class="btn-project mat-raised-button mat-button-base"
               href="#" tabindex="0"
               aria-disabled="false"><span class="mat-button-wrapper">Continue shopping</span>
              <div class="mat-button-ripple mat-ripple"></div>
              <div class="mat-button-focus-overlay"></div>
            </a></div>
          <div class="mat-cell"></div>
          <div class="mat-cell"></div>
          <div class="mat-cell text-right">
            <div class="grand-total px-2"
                 style="flex-direction: column; box-sizing: border-box; display: flex; place-content: flex-end center; align-items: flex-end;">
              <span class="new-price">Grand total: $264.00</span></div>
          </div>
          <div class="mat-cell text-center">
            <a class="btn-project mat-raised-button mat-button-base"
               href="#"
               tabindex="0" aria-disabled="false"><span
              class="mat-button-wrapper">Proceed To Checkout</span>
              <div class="mat-button-ripple mat-ripple"></div>
              <div class="mat-button-focus-overlay"></div>
            </a>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
